.App {
  text-align: center;
  background-color: #282c34;
  min-height:100vh;
  font-size:10px;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-top:20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
label{
  font-size:15px;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.approveForm{
  display:inline-block;
  padding:50px;
  margin:20px 50px;
  border:1px solid rgba(255, 255, 255, 0.445);
  vertical-align: top;
}
.buyForm{
  display:inline-block;
  padding:50px;
  margin:10px 30px;
  border:1px solid rgba(255, 255, 255, 0.445);
}
.App-link {
  color: #61dafb;
}
.btn{
  margin:20px;
}
p.clickeable{
  cursor:pointer;
}
.logTextarea{
  min-width: 1000px;
  background: #00000026;
  color: white;
  font-size: 15px;
  padding: 10px 10px 0px 10px;
  min-height: 150px;
}
.tokenInput{
  min-width:500px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
